body {
  background-color: #f3f4f6;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Ensure no default margins */
}

.container {
  max-width: 600px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.indicator {
  background-color: #f97316;
  height: 48px;
  width: 16px;
  margin-right: 16px;
}

h1 {
  font-size: 1.25rem;
  font-weight: 600;
}

.cloud-provider {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.progress-bar {
  flex-grow: 1;
  background-color: #e5e7eb;
  height: 32px;
  border-radius: 9999px;
  position: relative;
  overflow: hidden;
}

.progress {
  height: 100%;
  border-radius: 9999px;
}

.percentage {
  margin-left: 16px;
  font-weight: 600;
  font-size: 1.125rem;
}
