body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
  background-color: #f3f4f6; /* Optional: Add a background color */
}

.devops-container {
  display: flex;
  flex-direction: column; /* Stack heading and table vertically */
  align-items: center; /* Center horizontally */
  position: relative; /* Relative positioning for absolute children */
}

.heading {
  font-size: 2rem; /* Adjust the size as needed */
  font-weight: bold;
  margin-bottom: 16px; /* Space between heading and table */
}

.devops-table {
  display: grid;
  grid-template-columns: repeat(18, 64px);
  grid-template-rows: repeat(10, 64px);
  grid-gap: 4px;
  margin-top: -40px; /* Shift the table up by 40 pixels */
  margin-left: -20px; /* Shift the table to the left by 20 pixels */
}

.element {
  background: white;
  border: 1px solid #aaa;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.element:hover {
  transform: scale(1.25, 1.25);
  z-index: 1;
}

.element .number {
  font-size: 8px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.element .pricing {
  font-size: 8px; /* Same size as the number */
  position: absolute;
  top: 5px;
  right: 5px; /* Positioned in the top-right corner */
}

.element .name {
  font-size: 8px; /* Decreased font size */
  position: absolute;
  bottom: 5px;
  left: 5px;
  text-align: left; /* Align text to the left */
  width: 80%; /* Ensure the name text spans the width */
  white-space: normal; /* Allow text to wrap if necessary */
  line-height: 1.2; /* Adjust line spacing for better readability */
}

.element strong {
  font-size: 15px; 
}
